doctype html
html
	head
		meta(charset="utf-8")
		title satella.pro
		link(rel="stylesheet", href="/stylesheets/font.css")
		link(rel="stylesheet", href="/stylesheets/base.css")
		script(src="/scripts/lib/core.js")
	body
		application
