doctype html
html
	head
		meta(charset="utf-8")
		title satella.io
		link(rel="stylesheet", href="/stylesheets/font.css")
		link(rel="stylesheet", href="/stylesheets/base.css")
		link(rel="shortcut icon", href="/images/icons/favicon.ico")
		link(rel="icon", href="/images/icons/logo-sp.png")
		link(rel="apple-touch-icon", href="/images/icons/logo-sp.png")
		script(src="/scripts/lib/core.js")
	body
		main#application
			title-bar
			div.page
				login-page
				top-page
				dashboard-page
				create-page
				editor-page
				user-page
				view-page
				search-page
