<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/font.css">
	<link rel="stylesheet" type="text/css" href="../css/base.css">
	<link rel="stylesheet" type="text/css" href="../css/init.css">
	<title>satella.io</title>
	<script type="text/javascript">
	require('coffee-script/register');
	require('../scripts/init.coffee');
	</script>
	<style id="app-style">
	/**
	 * application style
	 */
	</style>
</head>
<body>
<main id="application">
	<header id="title-bar">
		<div id="close" class="title-li" title="close"></div>
		<div id="quit" class="title-li" title="min"></div>
		<h1 id="title">satella.io</h1>
		<div id="news" class="title-li" title="news"></div>
		<div id="open" class="title-li" title="open project"></div>
		<div id="new" class="title-li" title="new project"></div>
	</header>
	<nav id="open-list"><!-- open list --></nav>
	<article id="top"><!-- top --></article>
</main>
</body>
</html>