html, body {
	margin: 0;
	padding: 0;
	background-color: #555;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}

body {
	font-family: 'Boku';
	color: #4c4c4c;
}

img {
	vertical-align: bottom;
}

a {
	color: #ccc;
	text-decoration: none;
}

h1, h2, h3, p, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

input, textarea {
	-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
	border: none;
	padding: 0;
	border-radius: 0;
}

iframe {
	border: none;
}

#application {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 1100px;
	min-height: 650px;
}

@keyframes active-page {
	0%   { transform: scale(0.9); opacity: 0; }
	100% { transform: scale(1.0); opacity: 1; }
}
